# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.venv/

# VS Code settings
.vscode/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db

#vgg
vgg_normalised.pth